<h3>Employee Detail</h3>
Employee Code: <%=employee.code%>
<br>
Name: <%=employee.name%>
<br>
Salary: <%=employee.salary%>
<br>
Age: <%=employee.age%>
<br>
Branch: <%=employee.branch%>
<br>

<a href="/list">Back to list</a>
